<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whjbatisgenerate.whj_batis_generate.dao.StuserMapper">
  <resultMap id="BaseResultMap" type="com.whjbatisgenerate.whj_batis_generate.entity.Stuser">
    <id column="stuid" jdbcType="INTEGER" property="stuid" />
    <result column="stuname" jdbcType="VARCHAR" property="stuname" />
    <result column="password" jdbcType="VARCHAR" property="password" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from stuser
    where stuid = #{stuid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.whjbatisgenerate.whj_batis_generate.entity.Stuser">
    insert into stuser (stuid, stuname, `password`
      )
    values (#{stuid,jdbcType=INTEGER}, #{stuname,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.whjbatisgenerate.whj_batis_generate.entity.Stuser">
    update stuser
    set stuname = #{stuname,jdbcType=VARCHAR},
      `password` = #{password,jdbcType=VARCHAR}
    where stuid = #{stuid,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select stuid, stuname, `password`
    from stuser
    where stuid = #{stuid,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select stuid, stuname, `password`
    from stuser
  </select>
</mapper>